body {
  background: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} /*my background*/

.clock {
  width: 80vmin;
  height: 80vmin;
  background-color:white;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.3);
} /*my design for the background of the clock*/

.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;
  transform: rotate(0deg);
} /* my default design for all hands */

.hour-hand {
  width: 23.3%;
  height: 1.3%;
  background: #000;
} /* my hour hand design */

.min-hand {
  width: 33.3%;
  height: 1%;
  background: #000;
} /* my minute hand design */

.second-hand {
  width: 45%;
  height: 0.67%;
  background: red;
} /* my second hand design */