body {
  background: #888;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.clock {
  width: 200px;
  height: 200px;
  background: #fff;
  border-radius: 50%;
  position: relative;
}

.hand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: 0% 50%;
  transform: rotate(0deg);
}

.hour   { width: 40px; height: 4px; background: #000; }
.minute { width: 60px; height: 3px; background: #000; }
.second { width: 70px; height: 2px; background: red; }